#menu {
  width: 200px;
  list-style-type: none;
  padding: 0px;
}

#menu a {
  display: block;
  padding: 3px;
  margin: 1px;
  color: black;
  text-decoration: none;
  background-color: darkgrey;
}

#menu a:hover {
  background-color: grey;
  color: white;
}
