#menu, #menu ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

#menu > li {
  display: inline;
  float: left;
  position: relative;
  margin: 0px;
  padding: 0px;
}

#menu > li > a {
  padding: 5px 15px;
  text-decoration: none;
  color: black;
  background-color: darkgrey;
  border-style: solid;
  border-color: black;
}

#menu a:hover {
  background-color: grey;
  color: white;
}

#menu > li > ul {
  width: 200px;
  margin-top: 4px;
  display: none;
  position: absolute;
}

#menu > li > ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
  background-color: lightgrey;
  border-style: solid;
  border-color: black;
}

#menu > li:hover ul {
  display: block;
}
