#container {
  width: 900px;
  height: 600px;
  margin: 0px auto;
}

#header {
  width: 900px;
  background-color: grey;
  height: 70px;
}

.box {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 81px;
  height: 81px;
  background-color: grey;
}

.leftbox {
  margin-left: 0px;
  margin-top: 10px;
  float: left;
  width: 81px;
  height: 81px;
  background-color: grey;
}

.clear {
  clear: both;
}

#footer {
  height: 30px;
  margin-top: 10px;
  background-color: grey;
}
