#container {
  width: 900px;
  height: 600px;
  margin: 0px auto;
}

#header {
  width: 900px;
  background-color: grey;
  height: 70px;
}

#leftmenu {
  float: left;
  width: 245px;
  height: 500px;
  margin-top: 10px;
  background-color: grey;
}

#maincontent {
  float: left;
  width: 390px;
  height: 500px;
  background-color: grey;
  margin-top: 10px;
  margin-left: 10px;
}

#rightmenu {
  float: left;
  width: 245px;
  height: 500px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: grey;
}

.clear {
  clear: both;
}

#footer {
  height: 30px;
  margin-top: 10px;
  background-color: grey;
}
