#hello {
  font-size: 30px;
  font-weight: bold;
}

#box {
  text-decoration: line-through;
  width: 100px;
  text-align: center;
  background-color: green;
  border-bottom-style: dashed;
  border-bottom-color: orange;
  border-bottom-width: 5px;
}

#fontchange {
  font-family: cursive;
  color: green;
}
