h1 {
  font-family: sans-serif;
  color: green;
}

p {
  color: grey;
}

img {
  width: 100px;
  border-width: 5px;
  border-color: blue;
  border-style: dashed;
}

ul {
  width: 100px;
}

li {
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
