
#menu, #menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

#menu > li {
  display: inline;
  float: left;
  position: relative;
  margin-top: 0px;
  padding: 0;
}

#menu > li > a {
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

#menu > li > a:hover, #menu > li > ul > li > a:hover {
  background-color: white;
  color: blue;
}

#menu > li > ul {
  width: 150px;
  margin-top: 4px;
  display: none;
  position: absolute;
}

#menu > li > ul a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: white;
  background-color: blue;
}

#menu > li:hover ul {
  display: block;
}

#ButtonAndText a {
  text-decoration: none;
  padding: 40px 10px 40px 10px;
  vertical-align: middle;
}

#container {
  margin: 0px;
  width: 100%;
  height: 950px;
}

#toolbar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 39px;
  width: 100%;
  display: block;
  background-color: blue;
  z-index: -1;
}

#header {
  top: 45px;
  position: relative;
  text-align: center;
  font-size: 64px;
  color: black;
}

#body {
  top: 100px;
  position: relative;
  text-align: center;
  font-size: 20px;
  background-color: white;
}

#footer {
  height: 16px;
  position: relative;
  text-align: center;
  font-size: 14px;
  background-color: white;
  left: 0px;
  top: 50px;
  width: 100%;
}

.clear {
  clear: both;
}

.slideshow {
  position: relative;
  top: 75px;
  margin: 0 auto;
}

.mySlides {
  height: 450px;
}

#logo {
  position: absolute;
  float: right;
  height: 120px;
  width: 60px;
  top: 45px;
  right: 10px;
}

#game {
  position: relative;
  height: 600px;
  background-color: black;
  z-index: -10;
  margin: auto;
  padding: 10px;
}

#ButtonAndText {
  position: relative;;
  margin: auto;
  bottom: 250px;
  min-width: 1100px;
}

#title {
  position: relative;
  display: block;
  margin: auto;
  padding: 10px;
  height: 150px;
}

#entry1,#entry2 {
  top: 100px;
  max-width: 1250px;
  position: relative;
  text-align: center;
  font-size: 20px;
  background-color: white;
  margin: auto;
  padding: 10px;
  display: table;
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: lightgrey;
}

#imgGame {
  position: relative;
  vertical-align: middle;
  display: table-cell;
  margin-right: 1px;
  padding: 10px;
}

span {
  vertical-align: middle;
  display: table-cell;
}

#Projects {
  top: 120px;
  position: relative;
  text-align: center;
  font-size: 48px;
  color: black;
}

#HeistButton {
  position: relative;
  top: 10px;
}

#UserButton1, #UserButton2, #UserButton3, #UserButton4, #UserButton5 {
  height: 100px;
  width: 300px;
  padding: 10px;
  position: relative;
  z-index: -1;
}

#UserButton1 {
  left: 10px;
}

#UserButton2 {
  float: right;
}

#UserButton3 {
  float: right;
  margin-right: 120px;
}

#UserButton4 {
  left: 10px;
}

#UserButton5 {
  float: right;
}

#storyOutput {
  color: white;
  position: relative;
  top: 50px;
  text-align: center;
  width: 1250px;
  font-size: 28px;
}

#ButtonText1, #ButtonText2, #ButtonText3, #ButtonText4, #ButtonText5 {
  color: white;
  text-align: center;
  width: 279px;
  position: relative;
  display: block;
}

#ButtonText1 {
  bottom: 237px;
  left: 20px;
}

#ButtonText2 {
  bottom: 335px;
  right: 10px;
  float: right;
}

#ButtonText3 {
  bottom: 335px;
  left: 350px;
  float: right;
  margin-right: 502px;
}

#ButtonText4 {
  bottom: 309px;
  left: 20px;
  float: left;
}

#ButtonText5 {
  float: right;
  right: 10px;
  bottom: 309px;
}

#keypad {
  position: relative;
  bottom: 700px;
  left: 600px;
  color: white;
}

#keySelect {
  position: relative;
  bottom: 750px;
  left: 550px;
  width: 200px;
}

#keyButton {
  position: relative;
  bottom: 720px;
  left: 347px;
  width: 200px;
}

#time {
  position: relative;
  font-size: 48px;
  font-weight: bold;
  bottom: 460px;
  left: 600px;
  color: white;
}
