#container {
  width: 900px;
  height: 600px;
  margin: 0px auto;
}

#header {
  width: 900px;
  background-color: grey;
  height: 70px;
}

.leftitem {
  float: left;
  width: 600px;
  height: 100px;
  margin-top: 10px;
  background-color: grey;
}

#rightmenu {
  float: right;
  width: 290px;
  height: 430px;
  background-color: grey;
  margin-top: 10px;
  margin-left: 10px;
}

.clear {
  clear: both;
}

#footer {
  height: 30px;
  margin-top: 10px;
  background-color: grey;
}
